* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    letter-spacing: .9px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    /* background-image: url(/img/background.jpg); */
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.panel-standart {
    background-color: #52ab98!important;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.success {
    color: green;
    font-size: 15px;
}

.error {
    color: red;
    font-size: 15px;
}

/*!NAVBAR*/

nav {
    background: #ffffff;
    position: relative;
    height: 10vh;
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

nav img {
    display: block;
    width: auto;
    height: 10vh;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    letter-spacing: .1rem;
    text-decoration: none;
    color: #181818;
    transition: .3s;
}

.dropbtn {
    letter-spacing: .1rem;
    text-decoration: none;
    color: #181818;
    transition: .3s;
    cursor: pointer;
}

.nav-links ul li a:hover {
    color: #52ab98;
}

.nav-links {
    display: block;
}

nav .close-menu,
nav .open-menu {
    display: none;
}

@media (max-width: 1000px) {

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #ffffff;
        /* opacity: .95; */
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .close-menu,
    nav .open-menu {
        display: block;
        color: #181818;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

}

@media (max-height: 750px) {
    nav img {
        width: 70px;
    }
}

/* NAVBAR END */

/* !FOOTER */

footer {
    width: 100%;
    height: 150px;
    background-color: #525252;
}

/* FOOTER END */


/*HOME fixed 16.02*/

section.profile {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    background-color: #52ab98;
}

.profile_page_window {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*SIDEBAR fixed 16.02*/

.profile_sidebar {
    margin: 30px 20px;
    padding: 30px;
}

.profile_sidebar img {
    display: block;
    margin: auto;
    width: 128px;
    height: 128px;
    border-radius: 64px;
    margin: 10px auto;
    border: 2px solid #181818;
}

.profile_sidebar h2, h4 {
    margin: 10px 0;
    text-align: center;
    color: white;
}

.profile_sidebar_settings {
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 3;
}

.profile_sidebar_settings a {
    text-decoration: none;
    color: white;
}

/* .sidebar_content {
    height: 70%;
    margin: 30px 0;
    padding: 50px;
    border-radius: 3px;
    background-color: #2b6777;
}
*/

/*SIDEBAR END*/


/*PROFILE CENTER fixed 16.02*/

.profile_center {
    margin: 30px 20px;
}

.profile_work_status {
    background-color: #ffffff;
    height: 300px;
    margin: 0px 50px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.latest_notifs,
.latest_posts {
    background-color: #ffffff;
    font-size: 20px;
    /* height: 300px; */
    min-height: 345px;
    border-radius: 3px;
    margin: 30px 50px 0px 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.profile_date_title,
.latest_notifs_title,
.latest_posts_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0 0;
    height: 70px;
    color: #ffffff;
    background-color: #2b6777;
    text-transform: uppercase;
    font-weight: 700;
}

.latest_notifs_panel,
.latest_posts_panel {
    overflow-y: auto;
    min-height: 220px;
}

.profile_note_row {
    list-style: none;
    font-size: 15px;
    background-color: #2b6777;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}

.profile_note_post a {
    text-decoration: none;
    color: #ffffff;
}

.latest_notifs_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.latest_notifs_button button {
    cursor: pointer;
    padding: 3px 5px;
    border: 1px solid #181818;
    border-radius: 3px;
    background-color: #f1f1f1;
    font-size: 15px;
    transition: .3s;
}

.latest_notifs_button button:hover {
    background-color: #dddddd;
}

.latest_notifs_button button a {
    text-decoration: none;
    color: #181818;
}

/* CENTERBAR END */


/* CALENDAR */

.weekdays {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.weekdays div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #313131 !important;
}

.weekdays div strong {
    color: #7a3131 !important;
}

.calendar div {
    color: white;
}

.grid-calendar {
    display: grid;
    height: 90%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.prev-date,
.next-date {
    opacity: .5;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 1% 20%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.grid-item:hover:not(.today) {
    -webkit-box-shadow:inset 0px 0px 0px 1px #5D576B;
    -moz-box-shadow:inset 0px 0px 0px 1px #5D576B;
    box-shadow:inset 0px 0px 0px 1px #5D576B;
}

.today {
    background-color: #313131;
}

/* CALENDAR END */

/* PROFILE EDIT PAGE */

.profile_edit_page_window {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

.profile_edit_panel {
    justify-content: center;
    width: 60%;
    height: auto;
    margin: 20px 0;
    /* background-color: #b6bfc0; */
}

.profile_edit_panel_title {
    margin: 20px 0 0 0;
    color: white;
    text-align: center;
}

.main_setting_section {
    display: flex;
    height: 70vh;
    margin-top: 40px;
}

.profile_settings_select_mobile {
    display: none;
    margin: 10px 20px 0 20px;
    padding: 10px 0;
    background-color: #5D576B;
}

.profile_settings_select_mobile ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    list-style: none;
    color: white;
}

.profile_edit_panel_settings_sidebar {
    width: 40%;
    padding: 30px;
    background-color: #2b6777;
    font-size: 20px;
}

.profile_edit_panel_settings_sidebar ol {
    list-style: none;
}

.profile_edit_panel_settings_sidebar ol li {
    padding: 10px 10px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 7px;
    border-radius: 10px;
}

.profile_edit_panel_settings_row {
    width: 60%;
    padding: 30px;
    background-color: white;
}

.profile_edit_panel_settings_row h3 {
    color: #181818;
    text-align: start;
}

.profile_edit_panel_settings_row form {
    display: flex;
    flex-direction: column;
}

.profile_edit_panel_settings_row form label {
    margin-top: 15px;
}

.profile_edit_panel_settings_row form input {
    padding: 5px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #181818;
    border-radius: 3px;
    height: 50px;
    font-size: 18px;
}

.profile_edit_panel_settings_row .setting_row_button {
    width: 30%;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    padding: 7px 5px;
    border-radius: 3px;
    border: 1px solid #181818;
    background-color: #f1f1f1;
    font-size: 15px;
    transition: .3s;
}

.profile_edit_panel_settings_row .setting_row_button:hover {
    background-color: #dddddd;
}

.profile_edit_page {
    display: none;
}

.profile_edit_panel_settings_row .is-active {
    display: block;
}

@media (max-width: 1350px) {
    .profile_edit_panel {
        width: 90%;
    }
}

@media (max-width: 950px) {

    .main_setting_section {
        margin: 0;
    }

    .profile_settings_select_mobile {
        display: block;
    }
    .profile_edit_panel_settings_sidebar {
        display: none;
    }
    .profile_edit_panel_settings_row {
        margin: 0 20px;
        width: 100%;
    }
}

/* PROFILE EDIT PAGE END */

/*!LOGIN, REGISTER, PW RESET / fixed 15.02*/

.login_window {
    background-image: url(/img/backgrounds/login_bg_2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.login_panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.login_panel h1 {
    margin: 0 0 20px 0;
    color: #181818;
}

.login_panel form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
}

.login_panel form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    outline: none;
    border: 1px solid #181818;
    border-radius: 3px;
    height: 50px;
    font-size: 18px;
}

.login_panel form button {
    padding: 10px 20px;
    margin: 15px 0;
    width: 150px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #181818;
    border-radius: 3px;
    text-align: center;
    transition: .3s;
}

.login_panel form button:hover {
    background-color: #dddddd;
}

.login_panel form a {
    color: #181818;
}

@media (max-width: 460px) {
    .login_panel {
        width: 80%;
    }
}

@media (max-width: 390px) {
    .login_panel h1 {
        font-size: 8vw;
    }
}

/* LOGIN END */

/*NOTES, NOTIFS, OBJECTS INDEX fixed 17.02*/

.note_panel {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    padding: 0 20px 30px 20px;
    /* border-radius: 3px; */
}

.note_panel h2 {
    margin: 40px 0;
    color: white;
}

.note_panel a {
    color: black;
    text-decoration: none;
}

.thread_panel {
    justify-content: center;
    height: 65vh;
    width: 70%;
    margin-bottom: 20px;
    overflow-y: auto;
    color: white;
}

.thread_panel ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note_row {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #FCFCFC;
}

.note_post {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.create_note_btn button {
    cursor: pointer;
    text-align: center;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    transition: .3s;
}

.create_post_btn button:hover {
    background-color: #c8d8e4;
}

@media (max-width: 800px) {
    .note_row {
        width: 100%;
    }
}

/* NOTES END */

/* OBJECTS INDEX GRID */

.object_thread_panel ol {
    display: grid;
    width: 70%;
    min-height: 70vh;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.object_thread_panel li {
    width: 100%;
    margin: 10px auto;
}

.object_note_row {
    display: flex;
    flex-direction: column;
    width: 70%;
    list-style: none;
    padding: 10px;
    margin: 0 0 10px 0;
}

.object_note_row a {
    height: 100%;
}

.object_note_post {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 7px 10px;
    background-color: #FCFCFC;
}

.object_index_image {
    height: 100%;
    max-height: 300px;
}

.object_index_image img {
    width: 100%;
    height: 100%;
    max-height: 300px;
}

@media (max-width: 1300px) {
    .object_thread_panel ol {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .object_thread_panel ol {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .object_thread_panel ol {
        margin: 0;
        width: 100%;
    }
}

/* OBJECTS INDEX GRID END */


/* NOTE / NOTIFS / OBJECT SHOW */

.note_show_panel,
.object_show_panel {
    width: 100%;
    height: 90vh;
    overflow-y:auto;
}

.title_note_show {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    background-color: #2b6777;
    padding: 20px 20%;
    border-radius: 3px 0 0 3px;
}

.title_note_show a {
    color: white;
    text-decoration: none;
}

.title_text_note_show_back_icon {
    display: inline-flex;
    background-color: #1B9AAA;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    margin: 0px 30px 0px 10px;
    cursor: pointer;
}

.body-content-post-show p {
    word-wrap: break-word;
}

.body-content-post-show {
    color: white;
    margin: 20px;
    padding: 0 20%;
}

.title-text-post-show p {
    font-size: 15px;
}

.title-text-post-show {
    display: inline-flex;
    width: 100%;
}

.title-text-post-show-content {
    display: inline-block;
    width: 100%;
}

.title-icon-post {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
    color: white;
}

.title-icon-post i {
    margin: 10px;
}

.note_show_delete {
    padding: 0;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.object_show_image {
    width: 50%;
}

.object_show_image img {
    float:left;
    margin: 0 30px 15px 0;
    max-width: 100%;
    max-height: 500px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5D576B; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.title-post-show a {
    color: white;
}

@media(max-width: 600px) {
    .title-text-post-show-content {
        width: 100%;
    }
    .title-text-post-show {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .title-text-post-show h1 {
        font-size: 20px;
    }

    .title-icon-post i {
        width: 10px;
    }

    .title-text-post-show-back-icon {
        margin: 10px 10px 10px 0px;
    }
}

@media (max-width: 800px) {

    .object_show_image {
        text-align: center;
        width: 100%;
    }

    .object_show_image img {
        float: none;
        margin: 0 0 10px 0;
    }

    .title_note_show {
        padding: 20px 5%;
    }

    .body-content-post-show {
        padding: 0 5%;
    }
}

/* POST SHOW END */

/* POSTS | NOTIFS | OBJECTS CREATE, EDIT PAGES */

.note_create_page_window,
.note_edit_page_window,
.object_edit_page_window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    /* background-color: rgb(49, 45, 42); */
}

.note_create_panel,
.note_edit_panel,
.object_edit_panel {
    max-height: 70%;
    width: 60%;
    border-radius: 3px;
    padding: 20px 40px;
}

.note_create_button_back,
.note_edit_button_back,
.object_edit_button_back {
    padding: 0 0 20px 0;
}

.note_create_button_back button,
.note_edit_button_back button,
.object_edit_button_back button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #165861;
    color: white;
    border: none;
    border-radius: 3px;
    transition: .3s;
}

.note_create_button_back button:hover,
.note_edit_button_back button:hover,
.object_edit_button_back button:hover {
    background-color: #181818;
}

.note_create_title,
.note_edit_title {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
}

.note_create_form form,
.note_edit_form form,
.object_edit_form form {
    display: flex;
    flex-direction: column;
    color: white;
}

.note_create_form label {
    padding-top: 15px;
}

.note_create_form input,
.note_edit_form input,
.object_edit_form input {
    padding: 10px 10px;
    border-radius: 3px;
    border: 1px solid #181818;
    outline: none;
    margin: 5px 0 5px 0;
    font-size: 16px;
}

.note_create_form textarea,
.note_edit_form textarea,
.object_edit_form textarea {
    padding: 10px 10px;
    border-radius: 3px;
    border: 1px solid #181818;
    outline: none;
    font-size: 16px;
    margin: 5px 0;
    resize: none;
}


.note_edit_submit_button {
    width: 150px;
    cursor: pointer;
    background-color: #f1f1f1;
    margin-top: 20px!important;
    transition: .3s;
}

.note_create_submit_button {
    width: 100px;
    cursor: pointer;
    background-color: #f1f1f1;
    margin-top: 20px!important;
    transition: .3s;
}

.note_create_submit_button:hover,
.note_edit_submit_button:hover {
    background-color: #dddddd;
}

@media (max-width: 1000px) {
    .note_create_panel,
    .note_edit_panel,
    .object_edit_panel {
        width: 100%;
        min-height: 90vh;
        border-radius: 0;
        box-shadow: none;
    }
}

/* OBJECT, POSTS EDIT PAGE END */


.pfp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-pfp {
    margin: 10px 0px 20px;
    height: 40px;
    width: 150px;
    border: 1px;
    border-radius: 10px;
    font-size: 20px;
    background: white;
    cursor: pointer;
    transition: 0.2s;
}

.work-window {
    display: inline-flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
    min-height: 90vh;
}

.work-panel {
    display: inline-flex;
    flex-direction: column;
    width: 90%;
    max-height: 150vh;
    padding: 20px;
    border-radius: 20px;
}

.work-panel table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    /* height: 100%; */
    border: 1px solid #dddddd;
    background-color: white;
    margin-bottom: 20px;
}

.work-panel th,
.work-panel td {
    border: 1px solid black;
    text-align: center;
    color: black;
    padding: 8px;
}

.work-panel #btn {
    margin: 0 auto;
    width: 120px;
    height: 30px;
    border: 1px;
    border-radius: 10px;
    font-size: 15px;
    background: white;
    cursor: pointer;
    transition: 0.2s;
}

/* ALL USERS PAGE */

.users_page_window {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

.users_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.users_row {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 3fr;
    margin: 10px;
}

.users_row div {
    margin: 0 20px;
}

.users_panel h2 {
    text-align: center;
    margin: 20px 0;
    color: white;
}

/* ALL USERS PAGE END */

/* reset */

/* .reset-panel {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.reset-panel form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reset-panel h1 {
    color: black;
    margin-bottom: 30px;
}

.reset-panel input {
    margin: 10px;
    padding: 7px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    transition: .3s;
}

.reset-panel input:focus {
    background-color: lightblue;
    outline: none;
} */